body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 { 
    color:gray;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 20px; 
}

.AllDivsOfThisClass {
    font-style: italic;
}

#ReplaceThis {
    background-color: red;
}
